.contact{
    width: 100%;
    height: auto;
    background-image: url('../img/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 
}

.contact h2 {
    padding-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 500;
}

.card__item {
    margin-bottom: 50px;
}

.card__item .card {
    padding: 1.5em .5em .5em;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: flex;
    background-color: #B38867;
    color: #FDFFFF;
    justify-content: center;
    align-items: center;
    min-height: 220px;
}

.card__item h3 {
   font-weight: 300;
   margin-bottom: 15px;
   color: #FDFFFF;
   
}
.card__item i {
    font-size: 35px;
    margin-bottom: 20px;
    color: #1F232C;
    text-shadow: 2px 2px 4px #FDFFFF;
}
.card__item p {
    color: #FDFFFF;
}
.number-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }

  .number-input button {
    width: 30px;
    height: 100%;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
  }

  .number-input button:hover {
    background-color: #ddd;
  }

  .number-input input[type="number"] {
    width: 90px;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

/* Gaya untuk rating bintang */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size: 20px;
  display: inline-block;
}


.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.checkout .form-outline {
  /* Gaya tampilan khusus untuk form select */
  position: relative;
}

.checkout .form-outline .form-select.open {
  height: 200px; /* Atur tinggi maksimum yang diinginkan saat form select ditekan */
  overflow: auto; /* Aktifkan scroll jika kontennya melebihi tinggi maksimum saat form select ditekan */
}