{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% include 'partials/carousel.html' %}
    <!-- Product Section Begin -->
    <div class="new-arrival">
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center section-tittle">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <h2>new<br>arrival</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="popular-img">
                            <img src="{% static 'img/product/product-1.jpg' %}" alt="">
                            <div class="favorit-items">
                                <!-- <span class="flaticon-heart"></span> -->
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="popular-caption">
                            <h3><a href="product_details.html">Knitted Jumper</a></h3>
                            <div class="rating mb-10">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span>$ 30.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="popular-img">
                            <img src="{% static 'img/product/product-2.jpg' %}" alt="">
                            <div class="favorit-items">
                                <!-- <span class="flaticon-heart"></span> -->
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="popular-caption">
                            <h3><a href="product_details.html">Knitted Jumper</a></h3>
                            <div class="rating mb-10">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span>$ 30.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="popular-img">
                            <img src="{% static 'img/product/product-3.jpg' %}" alt="">
                            <div class="favorit-items">
                                <!-- <span class="flaticon-heart"></span> -->
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="popular-caption">
                            <h3><a href="product_details.html">Knitted Jumper</a></h3>
                            <div class="rating mb-10">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span>$ 30.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="popular-img">
                            <img src="{% static 'img/product/product-4.jpg' %}" alt="">
                            <div class="favorit-items">
                                <!-- <span class="flaticon-heart"></span> -->
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="popular-caption">
                        <h3><a href="product_details.html">Knitted Jumper</a></h3>
                            <div class="rating mb-10">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span>$ 30.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="popular-img">
                            <img src="{% static 'img/product/product-5.jpg' %}" alt="">
                            <div class="favorit-items">
                                <!-- <span class="flaticon-heart"></span> -->
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="popular-caption">
                            <h3><a href="product_details.html">Knitted Jumper</a></h3>
                            <div class="rating mb-10">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span>$ 30.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="popular-img">
                            <img src="{% static 'img/product/product-6.jpg' %}" alt="">
                            <div class="favorit-items">
                                <!-- <span class="flaticon-heart"></span> -->
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="popular-caption">
                            <h3><a href="product_details.html">Knitted Jumper</a></h3>
                            <div class="rating mb-10">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span>$ 30.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                        <div class="popular-img">
                            <img src="{% static 'img/product/product-7.jpg' %}" alt="">
                            <div class="favorit-items">
                                <!-- <span class="flaticon-heart"></span> -->
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="popular-caption">
                            <h3><a href="product_details.html">Knitted Jumper</a></h3>
                            <div class="rating mb-10">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span>$ 30.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                        <div class="popular-img">
                            <img src="{% static 'img/product/product-8.jpg' %}" alt="">
                            <div class="favorit-items">
                                <!-- <span class="flaticon-heart"></span> -->
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="popular-caption">
                            <h3><a href="product_details.html">Knitted Jumper</a></h3>
                            <div class="rating mb-10">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span>$ 30.00</span>
                        </div>
                    </div>
                </div>
              
            </div>
            <!-- Button -->
            <div class="row justify-content-center">
                <div class="room-btn">
                    <a href="catagori.html" class="primary-btn">Browse More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section End -->

    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'img/instagram/instagram-1.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'img/instagram/instagram-2.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'img/instagram/instagram-3.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'img/instagram/instagram-4.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'img/instagram/instagram-5.jpg' %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="{% static 'img/instagram/instagram-6.jpg' %}"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                        <h3>#Male_Fashion</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Latest News</span>
                        <h2>Fashion New Trends</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static 'img/blog/blog-1.jpg' %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static 'img/icon/calendar.png' %}" alt=""> 16 February 2020</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static 'img/blog/blog-2.jpg' %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static 'img/icon/calendar.png' %}" alt=""> 21 February 2020</span>
                            <h5>Eternity Bands Do Last Forever</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static 'img/blog/blog-3.jpg' %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static 'img/icon/calendar.png' %}" alt=""> 28 February 2020</span>
                            <h5>The Health Benefits Of Sunglasses</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->


{% endblock content %}