{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% include 'partials/carousel.html' %}
     
    <!-- Product Section Begin -->
    <div class="new-arrival">
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center section-tittle" id="section-tittle">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <h2>New<br>Arrival</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                            <li {% if kategori == '' or kategori == 'all' %} class="active" {% endif %}><a href="{% url 'toko:home-produk-list' %}?kategori=all">All</a></li>
                            <li {% if kategori == 'B' %}class="active" {% endif %}><a href="{% url 'toko:home-produk-list' %}?kategori=B">Baju</a></li>
                            <li {% if kategori == 'S' %}class="active" {% endif %}><a href="{% url 'toko:home-produk-list' %}?kategori=S">Sepatu</a></li>
                            <li {% if kategori == 'T' %}class="active" {% endif %}><a href="{% url 'toko:home-produk-list' %}?kategori=T">Tas</a></li>
                        <li>
                            <form method="get" action="{% url 'toko:home-produk-list' %}" id="search-form">
                                <div class="form-row justify-content-center">
                                    <div class="col">
                                        <input type="text" name="search" placeholder="Cari produk...">
                                    </div>
                                    <div class="col">
                                        <button type="submit" value="Cari" class="btn-primary">Cari</button>
                                    </div>
                                </div>
                            </form>   
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter" id="galeri-container">
                {% for pItem in object_list %}
                    
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3 mix {{ pItem.kategori }} galeri-item" data-kategori="{{ pItem.nama_produk }}">
                        <div class="single-new-arrival mb-50 text-center wow fadeInUp" id="data-galeri" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="{{ pItem.gambar.url }}" class="img-fluid" alt="{{ pItem.nama_produk }}">
                                <div class="favorit-items">
                                    <!-- <span class="flaticon-heart"></span> -->
                                    <span class="badge bg-{{ pItem.get_label_display }} ms-2">{{ pItem.label }}</span>
                                </div>
                            </div>
                            <div class="popular-caption">
                                <h3><a href="{{ pItem.get_absolute_url }}">{{ pItem.nama_produk }}</a></h3>
                                <p>{{ pItem.get_kategori_display }}</p>
                                
                                <div class="rating mb-3">
                                    {% for _ in pItem.rating %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                </div>
                                <span>Rp. {% if pItem.harga_diskon %}{{ pItem.harga_diskon }}{% else %}{{ pItem.harga }}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                    
                {% empty %}
                <div class="col-md-12 text-center my-5">
                    <h2>(Data Produk belum tersedia)</h2>   
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Product Section End -->
    {% if is_paginated %}
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item">
              {% if page_obj.has_previous %}
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
              {% endif %}
            </li>
            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            <li class="page-item">
              {% if page_obj.has_next %}
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
              {% endif %}
            </li>
        </ul>
    </nav>
    {% endif %}
    <!-- Pagination -->

    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="photo-gallery">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Fashion Gallery</h2>
                    <p class="text-center">"Style adalah sesuatu yang sudah kita miliki, yang perlu kita lakukan hanyalah menemukannya." —Diane von Furstenberg</p>
                </div>
                <div class="row photos text-center">
                    {% for pItem in object_list %}
                    <div class="col-sm-6 col-md-4 col-lg-3 item">
                        <a href="{{ pItem.gambar.url }}" data-lightbox="photos">
                            <img class="img-fluid" src="{{ pItem.gambar.url }}">
                        </a>
                    </div>
                    {% empty %}
                    <div class="col-md-12 text-center my-5">
                        <h2>(Data Produk belum tersedia)</h2>   
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
       
    </div>
  
    </section>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Latest News</span>
                        <h2>Fashion New Trends</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="https://picsum.photos/300/270?random=3"></div>
                        <div class="blog__item__text">
                            <span><i class="fa-regular fa-calendar"></i> 16 February 2020</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="https://picsum.photos/300/270?random=2"></div>
                        <div class="blog__item__text">
                            <span><i class="fa-regular fa-calendar"></i> 21 February 2020</span>
                            <h5>Eternity Bands Do Last Forever</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="https://picsum.photos/300/270?random=1"></div>
                        <div class="blog__item__text">
                            <span><i class="fa-regular fa-calendar"></i> 28 February 2020</span>
                            <h5>The Health Benefits Of Sunglasses</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->


{% endblock content %}