{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table table-responsive">
                        <table class="table table-borderless table-hover">
                            <thead>
                                <tr style="text-align: center;">
                                    <th>No</th>
                                    <th>Product</th>
                                    <th>Jumlah</th>
                                    <th>Total Harga</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pItem in keranjang.produk_items.all %}
                                <tr>
                                    <td scope="row">
                                        {{ forloop.counter }}
                                    </td>
                                    <td class="product__cart__item"> 
                                        <a href="{% url 'toko:produk-detail' pItem.produk_item.slug %}">
                                            <div class="product__cart__item__pic">
                                                <img src="{{ pItem.produk_item.gambar.url }}" alt="">
                                            </div>
                                            <div class="product__cart__item__text">
                                                <h6 class="mb-2">
                                                    {{ pItem.produk_item.nama_produk }}
                                                </h6>
                                                <h5>
                                                    {% if pItem.produk_item.harga_diskon %}
                                                        <small>Rp</small> {{ pItem.produk_item.harga_diskon }}
                                                    {% else %}
                                                        <small>Rp</small> {{ pItem.produk_item.harga }}
                                                    {% endif %}
                                                </h5>
                                            </div>  
                                        </a>
                                    </td>
                                    <td>{{ pItem.quantity }}</td>
                                    <td class="cart__price">
                                        {% if pItem.produk_item.harga_diskon %}
                                            <small>Rp</small> {{ pItem.get_total_harga_diskon_item }}
                                            <span class="badge badge-danger rounded-pill d-inline">Hemat <small>Rp</small> {{ pItem.get_total_hemat_item }}</span>
                                        {% else %}
                                            <small>Rp</small> {{ pItem.get_total_harga_item }}
                                        {% endif %}
                                    </td>
                                    <td class="cart">
                                        <a href="{{ pItem.produk_item.get_remove_from_cart_url }}" class="del" onclick="return confirm('Ingin menghapus produk ?')">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </a> 
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan='5'>Keranjang kosong</td>
                                  
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                       
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="{% url 'toko:home-produk-list' %}">Lanjut Belanja</a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__total">
                        
                        {% if keranjang.get_total_harga_order %}
                        <h6>Total Belanja</h6>
                        <ul>
                            <li>Total <span><b><small>Rp </small>{{ keranjang.get_total_harga_order }}</b></span></li>
                            {% if keranjang.get_total_hemat_order %}
                            <li>
                                <span class="badge badge-danger">Hemat <small>Rp </small>{{ keranjang.get_total_hemat_order }}</span>
                            </li>
                            {% endif %}
                        </ul>
                        <a href="{% url 'toko:checkout' %}" class="primary-btn">Proceed to checkout</a>
                        {% else %}
                        <span>Produk tidak ditemukan</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->


{% endblock content %}