{% load static %}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-1.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8"></div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="hero__text">
                            <h6>Awesome and Special</h6>
                            <h2>Fashion B-7 <br>
                                Be Your Style</h2>
                            <p>Fashion B-7 produk yang keren dan terbaru. Memberikan yang terbaik dan spesial untuk kamu.</p>
                            <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-2.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8"></div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="hero__text">
                            <h6>Awesome and Special</h6>
                            <h2>Fashion B-7 <br>
                                Be Your Style</h2>
                            <p>Fashion B-7 produk yang keren dan terbaru. Memberikan yang terbaik dan spesial untuk kamu.</p>
                            <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->