
{% extends "base.html" %}
{% load crispy_forms_tags %}


{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% autoescape on %}
<main>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light shadow p-3 mb-5 bg-white" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <h3 class="mb-5 text-center">{% trans "Sign In" %}</h3>

            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              
              <button class="btn btn-primary btn-block mb-2" style="background-color: #DDBC95;color: #1E1F26;" type="submit">{% trans "Sign In" %}</button>
              <a href="{% url 'account_reset_password' %}"><p style="color: crimson;">{% trans "Forgot Password?" %}</p></a>
            </form>
            
            {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
            <p class="mt-3">{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">Sign Up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
      
            <div class="socialaccount_ballot">
      
              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
      
              <div class="login-or">{% trans 'or' %}</div>
      
            </div>
      
            {% include "socialaccount/snippets/login_extra.html" %}
      
            {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endautoescape %}
{% endblock %}
